{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block title %}Мій профіль{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header bg-primary text-white">
                    <h2 class="text-center my-2">
                        <i class="bi bi-person-circle me-2"></i>Мій профіль
                    </h2>
                </div>
                
                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                <i class="bi bi-info-circle me-2"></i>{{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Псевдонім</label>
                            {{ form.username|add_class:'form-control' }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Електронна пошта</label>
                            {{ form.email|add_class:'form-control' }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Ім'я</label>
                            {{ form.first_name|add_class:'form-control' }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Прізвище</label>
                            {{ form.last_name|add_class:'form-control' }}
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-lg">
                                <i class="bi bi-cloud-upload me-2"></i>Оновити профіль
                            </button>
                        </div>
                    </form>
                </div>

                <div class="card-footer text-center py-3">
                    <form method="post" action="{% url 'users:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger">
                            <i class="bi bi-box-arrow-right me-2"></i>Вийти з акаунту
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}